{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Profil użytkownika {{user.first_name}}<br />
          </h1>
        </div>
      </div>
{% endblock %}
{% block content %}
{% csrf_token %}
<h2>{{ form.as_p }}</h2>

<h2>Przekazane dotacje</h2>
{% for donation in donations %}
<li>{{ donation.pk }}</li>
<li>Ilość przekazanych worków: {{ donation.quantity }} z kategorii: {{ donation.categories.all }}</li>
<li>Wsparta organizacja {{ donation.institution }}</li>
<li>Data i godzina odbioru {{ donation.date }} - {{ donation.time }} </li>
{% endfor %}
{% endblock %}